.odd {
  background: lightslategray;
}

.even {
  background: lightgrey;
}

.odd.active {
  background: #b1c150;
}

.even.active {
  background: #e1e86e;
}

.odd.posibleattak
{
  background-color: #9b6d8b;
}

.even.posibleattak
{
  background-color: #ca93a9;
}


.odd.posiblemove
{
  background-color: #83769a;
}

.even.posiblemove
{
  background-color: #a290ae;
}

